---
import { SanityImage } from '../lib/sanity';
const { item } = Astro.props;
---

<li>
  {
    item.image ? (
      <figure>
        <img src={SanityImage(item.image).width(160).url()} />
      </figure>
    ) : (
      item.name
    )
  }
</li>
