---
const items = [
  {
    slug: '#',
    title: 'Produkter',
  },
  {
    slug: '#',
    title: 'Diamanter',
  },
  {
    slug: '#',
    title: 'Tips',
  },
  {
    slug: 'om-butikken',
    title: 'Om butikken',
  },
  {
    slug: '#kontakt',
    title: 'Kontakt',
  },
  {
    slug: '#aapningstider',
    title: 'Åpningstider',
  },
];

const { slug } = Astro.props;
---

<nav id="mainnav">
  <ul role="list">
    {
      items.map((item) => (
        <li>
          <a
            href={item.slug === '' ? '/' : `/${item.slug}`}
            aria-current={slug === item.slug ? 'page' : 'false'}
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  ul {
    column-gap: 1em;
    display: flex;
    font-size: 20px;
  }

  a {
    color: white;
  }
  a[aria-current='page'] {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
</style>
