---
import { SanityImage } from '../lib/sanity';
const { item } = Astro.props;
---

<a href={`/${item.slug.current}/`}>
  <figure>
    {item.image ? <img src={SanityImage(item.image).width(250).url()} /> : ''}
  </figure>
  <h3>{item.title}</h3>
</a>

<style>
  a {
    border: 15px solid brown;
  }
</style>
