---
import ProductCard from './ProductCard.astro';

const { items } = Astro.props;
---

<div>
  {items.map((item) => <ProductCard item={item} />)}
</div>

<style>
  div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* border: 10px solid salmon; */
  }
</style>
