---
import Facebook from '../atoms/Facebook.astro';
import Instagram from '../atoms/Instagram.astro';

import { SanityClient } from '../lib/sanity';

const some = await SanityClient.fetch('*[ _type == "settingsSome" ]').then(
  (res) => res[0]
);
---

<ul role="list">
  <li>
    <Facebook fbUrl={some.facebook} />
  </li>
  <li>
    <Instagram igUrl={some.instagram} />
  </li>
</ul>
