---
import { SanityClient, SanityImage, SanityBlocks } from '../lib/sanity';
import PageLayout from '../templates/PageLayout.astro';

export async function getStaticPaths() {
  const items = await SanityClient.fetch(
    '*[_type == "page"] { ..., body[] {...,  asset-> {..., "_key": _id } }}'
  ).then((res) => res);

  return items.map((e) => ({
    params: { slug: e.slug.current },
    props: {
      ...e,
      body: SanityBlocks({
        blocks: e.body,
        imageOptions: { w: 780, fit: 'max' },
      }),
    },
  }));
}

const item = Astro.props;
---

<PageLayout title={item.title} slug={item.slug.current}>
  <h1>{item.title}</h1>
  {item.image ? <img src={SanityImage(item.image).width(800).url()} /> : ''}
  <div class="content" set:html="item.body"></div>
</PageLayout>
