---
import { SanityClient, SanityImage, SanityBlocks } from '../lib/sanity';
import PageLayout from '../templates/PageLayout.astro';
import Title from '../atoms/Title.astro';
import ManufacturListing from '../molecules/ManufacturListing.astro';

const item = await SanityClient.fetch('*[ _type == "front-page" ]').then(
  (res) => ({
    ...res[0],
    body: SanityBlocks({
      blocks: res[0].body,
    }),
  })
);

const manufacturers = await SanityClient.fetch(
  `*[ _type == "manufacturer"]{_id, name, image, url, slug} | order(name asc)`
).then((res) => res);
---

<PageLayout title={item.title} slug="/">
  <h1>Gullsmed Morken</h1>
  <h2>100 år med tradisjon og lidenskap i hjertet av Trondheim</h2>

  {item.image ? <img src={SanityImage(item.image).width(800).url()} /> : ''}
  <div class="content" set:html="item.body" />

  <Title title="Våre merker" tag="h3" />
  <ManufacturListing items={manufacturers} />
</PageLayout>
