---
import Logo from '../atoms/Logo.astro';
---

<html lang="nb-NO">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Gullsmed Morken</title>
</head>

<body>
	<Logo />
	<h1>Gullsmed Morken</h1>
</body>

</html>