---
import { SanityClient, SanityImage, SanityBlocks } from '../lib/sanity';
import PageLayout from '../templates/PageLayout.astro';
import PageListing from '../molecules/PageListing.astro';
import ProductListing from '../molecules/ProductListing.astro';

const item = await SanityClient.fetch('*[ _type == "front-page" ]').then(
  (res) => ({
    ...res[0],
    body: SanityBlocks({
      blocks: res[0].body,
    }),
  })
);

const pages = await SanityClient.fetch(
  `*[ _type == "page"][0...4]{_id, title, image, slug}`
).then((res) => res);
const products = await SanityClient.fetch(
  `*[ _type == "product"][0...4]{_id, name, price, image, slug}`
).then((res) => res);
---

<PageLayout title={item.title} slug=''>
  {item.image ? <img src={SanityImage(item.image).width(800).url()} /> : ''}
  <div class='content' set:html='item.body'></div>

  <h3>Artikler</h3>
  <PageListing items={pages} />

  <h3>Produkter</h3>
  <ProductListing items={products} />
  <h1>Gullsmed Morken</h1>
  <h2>100 år med tradisjon og lidenskap i hjertet av Trondheim</h2>
</PageLayout>
