---
const { url, target } = Astro.props;
---

{target ? (
  <a href={url} target={target}>
    <slot />
  </a>
) : (
  <a href={url}>
    <slot />
  </a>
)}

<style>
  a {
    display: inherit;
  }
</style>
