---
const items = [
  // {
  //   slug: '/',
  //   title: 'Forsiden',
  // },
  {
    slug: 'produkter',
    title: 'Produkter',
  },
  {
    slug: 'diamanter',
    title: 'Diamanter',
  },
  {
    slug: 'tips',
    title: 'Tips',
  },
  {
    slug: 'om-butikken',
    title: 'Om butikken',
  },
  {
    slug: 'kontakt',
    title: 'Kontakt',
  },
  {
    slug: 'aapningstider',
    title: 'Åpningstider',
  },
];

const { slug } = Astro.props;
---

<nav>
  <ul role='list'>
    {items.map((item) => (
      <li class={slug === item.slug ? 'is-current' : ''}>
        <a href={item.slug === '' ? '/' : `/${item.slug}/`}>{item.title}</a>
      </li>
    ))}
  </ul>
</nav>
<button type='button'>
  <span class='sr-only sr-only-focusable'>Åpne</span>
  <svg
    width='26'
    height='18'
    viewBox='0 0 26 18'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'
  >
    <line
      x1='25.3792'
      y1='0.6'
      x2='0.37915'
      y2='0.6'
      stroke='#151618'
      stroke-width='1.2'></line>
    <line
      x1='25.3792'
      y1='8.6'
      x2='0.37915'
      y2='8.6'
      stroke='#151618'
      stroke-width='1.2'></line>
    <line
      x1='25.3792'
      y1='16.6'
      x2='0.37915'
      y2='16.6'
      stroke='#151618'
      stroke-width='1.2'></line>
  </svg>
</button>

<style lang='scss'>
  nav {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  ul {
    @media (min-width: 768px) {
      column-gap: 2em;
      display: flex;
    }
  }

  li:nth-last-child(-n + 2) {
    display: none;

    @media (min-width: 768px) {
      display: revert;
    }
  }

  a {
    font-weight: var(--fw-semi-bold, 600);
    text-decoration: none;
  }

  button[type='button'] {
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    padding-inline: 0;

    @media (min-width: 768px) {
      display: none;
    }
  }
</style>
