---
import Logo from '../atoms/Logo.astro';
import Address from '../atoms/Address.astro';
import OpeningHours from '../atoms/OpeningHours.astro';
import PhoneNumber from '../atoms/PhoneNumber.astro';
import SoMe from '../molecules/SoMe.astro';
---

<footer>
  <div>
    <Logo />
    <SoMe />
    <Address />
    <PhoneNumber />
    <OpeningHours />
  </div>
</footer>

<style>
  footer {
    --logo-color: #000;
    background-color: hsl(53 69% 97%);
    padding-block: 2rem;
  }

  div {
    inline-size: min(80rem, 100vw - 2rem);
    margin-inline: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    --icon-color: #000;
  }
</style>
